<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="emailId" id="exampleInputEmail1" placeholder="Enter email" [(ngModel)]="emailId">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control"  name="password" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
  </div>
  <div>
    Not a user? <label class="btn-link" routerLink="/register">Register here</label>
  <button type="submit" class="btn btn-primary float-right" (click)="validate()" >Login</button>
  </div>
  <div *ngIf="!loginSuccess && loginAttempted" style="color: red">Please enter valid emaiId and Password !!</div>
</form>

