<div>
  <label>Enter </label>
  <input type="text" [(ngModel)]="searchValue">
</div>
<div>
  <button type="button" class="btn-primary" (click)="getValue()">Get Nutrition Value</button>
</div>
<div><h3 class="text-white">Nutrition Value</h3>
  <table class="table" *ngIf="nutritionInfo != null">
    <tr>
      <th>Serving size</th>
      <td>{{nutritionInfo.hits[0].fields.nf_serving_size_qty}} cup</td>
    </tr>
    <tr>
      <th>Calories</th>
      <td>{{nutritionInfo.hits[0].fields.nf_calories}}</td>
    </tr>
    <tr>
      <th>Total Fat</th>
      <td>{{nutritionInfo.hits[0].fields.nf_total_fat}}</td>
    </tr>
    <tr>
      <th>Saturated Fat</th>
      <td>{{nutritionInfo.hits[0].fields.nf_saturated_fat}}</td>
    </tr>
    <tr>
      <th>Cholesterol</th>
      <td>{{nutritionInfo.hits[0].fields.nf_cholesterol}}</td>
    </tr>
    <tr>
      <th>Sodium</th>
      <td>{{nutritionInfo.hits[0].fields.nf_sodium}}</td>
    </tr>
    <tr>
      <th>Sugars</th>
      <td>{{nutritionInfo.hits[0].fields.nf_sugars}}</td>
    </tr>
    <tr>
      <th>Protein</th>
      <td>{{nutritionInfo.hits[0].fields.nf_protein}}</td>
    </tr>
    <tr>
      <th>Vitamin A</th>
      <td>{{nutritionInfo.hits[0].fields.nf_vitamin_a_dv}}</td>
    </tr>
    <tr>
      <th>Vitamin C</th>
      <td>{{nutritionInfo.hits[0].fields.nf_vitamin_c_dv}}</td>
    </tr>
    <tr>
      <th>Calcium</th>
      <td>{{nutritionInfo.hits[0].fields.nf_calcium_dv}}</td>
    </tr>
    <tr>
      <th>Iron</th>
      <td>{{nutritionInfo.hits[0].fields.nf_iron_dv}}</td>
    </tr>


  </table>
</div>
