<form>
  <div class="form-group">
    <input type="text" class="form-control" name='lastName' placeholder="Last Name" [(ngModel)]="lastName">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name='firstName' placeholder="First Name" [(ngModel)]="firstName">
  </div>
  <div class="form-group">
    <input type="email" class="form-control"  name='emailId' id="exampleInputEmail1" placeholder="Enter email" [(ngModel)]="emailId">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" id="date">
  </div>
  <button type="submit" class="btn btn-primary float-right" (click)="storeData()">Register</button>
  Already Registered ? <label class="btn-link" routerLink="/login">Login here</label>

  <div *ngIf="registerSuccess" style="color: green">Successfully registered ! Please login to use Food Calculator!</div>
  <div *ngIf="!registerSuccess && registerAttempted" style="color: red">Please enter the details to register !!</div>
</form>
